<footer class="footer-fixed">
    <p>
      Arduino-Based GSM Notification System for Automated Client Updates via Web Interface<br>
      by Neil Aldrin R. Lolinco - MEP-EE-ICEO (2025)
    </p>
  </footer>
  